.ChatWindow {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.ChatWindowHeader {
    background-color: deeppink;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}
.ChatWindowTitle {
    padding-left: 2em;
    padding-right: 1em;
}
.ChatWindowTitle i.bi {
    padding-right: 1em;
    font-size: larger;
}
.ChatWindowBody {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}
.ChatWindowFooter {
    padding: 10px;
}